<% if @embassy %>
  <div class="card mb-3">
    <div class="row text-center">
      <div class="col-md-6">
        <%= image_tag static_map(@embassy) %>
      </div>
      <div class="col-md-6">
        <%= image_tag street_view(@embassy) %>
      </div>
    </div>
    <div class="card-body text-center px-5 mt-4">
      <h5 class="card-title">French embassy in <%= @country.en_title %></h5>
      <p class="card-text mb-2"><span class="font-weight-bold">Address</span> : <%= get_address(@embassy.latitude, @embassy.longitude) %></p>
      <p class="card-text mb-2"><span class="font-weight-bold">Latitude</span> : <%= @embassy.latitude %></p>
      <p class="card-text mb-2"><span class="font-weight-bold">Longitude</span> : <%= @embassy.longitude %></p>
    </div>
  </div>
<% else %> 
  <div>Embassy informations are unavailable !</div>
<% end %>
